doctype html
html
    head
        meta(charset='UTF-8')
        meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
        title Assessment | Dashboard

        link(href='./components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet', type='text/css')
        link(href='./components/bootstrap-material-design/dist/css/ripples.min.css', rel='stylesheet', type='text/css')
        link(href='./components/bootstrap-material-design/dist/css/material.min.css', rel='stylesheet', type='text/css')

        link(href='./components/animate.css/animate.min.css', rel='stylesheet', type='text/css')

        link(href='./stylesheets/reset.css', rel='stylesheet', type='text/css')
        link(href='./stylesheets/application.css', rel='stylesheet', type='text/css')

        block stylesheets

        block javascripts
    body.skin-blue
        block content

        block bottomScript
            script(type='text/javascript', src="./components/jquery/dist/jquery.min.js")
            script(type='text/javascript', src="./components/bootstrap/dist/js/bootstrap.min.js")

            script(type='text/javascript', src="./components/bootstrap-material-design/dist/js/ripples.min.js")
            script(type='text/javascript', src="./components/bootstrap-material-design/dist/js/material.min.js")

        block reactScript